
<div class="btn-group" role="group">
    <button type="button" data-bs-toggle="dropdown" <%- attr %>>
        <%- content %>
    </button>
    <ul class="dropdown-menu dropdown-menu-<%= position %>">
        <% $.each(items, function(key, item) { %>
            <% if (item.type === 'link') { %>
            <li><a href="<%= item.url %>"<%- item.attr %>><%= item.content %></a></li>

            <% } else if (item.type === 'button') { %>
            <li>
                <button type="button" id="btn-dropdown-<%= item.id %>"<%- item.attr %>>
                    <%- item.content %>
                </button>
            </li>

            <% } else if (item.type === 'divider') { %>
            <li><hr class="dropdown-divider"></li>

            <% } else if (item.type === 'header') { %>
            <li><h6 class="dropdown-header"><%= item.content %></h6></li>
            <% } %>
        <% }) %>
    </ul>
</div>