
<table class="table <%= classes %> mb-0">
    <colgroup>
        <% $.each(colGroups, function(key, columnGroup) { %>
        <col<% if (columnGroup.style) { %> style="<%= columnGroup.style %>"<% } %>/>
        <% }); %>
    </colgroup>
    <% if (show.columnHeaders) { %>
    <thead<% if (theadAttr) { %> <%- theadAttr %>"<% } %>>
        <%- columnGroupsHeader %>
        <%- columns %>
    </thead>
    <% } %>
    <tbody></tbody>
    <% if (columnGroupsFooter != '') { %>
    <tfoot>
        <%- columnGroupsFooter %>
    </tfoot>
    <% } %>
</table>