
<nav>
    <ul <%- attr %>>
        <% if (showPrev) { %>
            <li class="page-item coreui-table__page_prev <% if ( ! isActivePrev) { %> disabled<% } %>">
                <button type="button" class="page-link">
                    <i class="bi bi-chevron-left"></i>
                </button>
            </li>
        <% } %>

        <% if (showPageFirst) { %>
            <li class="page-item">
                <button type="button" class="page-link coreui-table__page">
                    1
                </button>
            </li>
        <% } %>

        <% if (showDividerStart) { %>
            <li class="page-item disabled">
                <span class="page-link px-1">...</span>
            </li>
        <% } %>


        <% $.each(pages, function(key, page) { %>
            <% if (page == currentPage) { %>
                <li class="page-item active">
                    <span class="page-link"><%= page %></span>
                </li>
            <% } else { %>
                <li class="page-item">
                    <button type="button" class="page-link coreui-table__page">
                        <%= page %>
                    </button>
                </li>
            <% } %>
        <% }); %>


        <% if (showDividerEnd) { %>
            <li class="page-item disabled">
                <span class="page-link px-1">...</span>
            </li>
        <% } %>

        <% if (showPageLast) { %>
            <li class="page-item">
                <button type="button" class="page-link coreui-table__page">
                    <%= pagesTotal %>
                </button>
            </li>
        <% } %>

        <% if (showNext) { %>
            <li class="page-item coreui-table__page_next<% if ( ! isActiveNext) { %> disabled<% } %>">
                <button type="button" class="page-link">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </li>
        <% } %>
    </ul>
</nav>