
$coreui-table-thead-bg: #FFF !default;
$coreui-table-tbody-bg: #FFF !default;
$coreui-table-tfoot-bg: #FFF !default;

$coreui-table-tbody-color: #212529 !default;
$coreui-table-tfoot-color: #212529 !default;

$coreui-table-border-color: #c4c8cb !default;
$coreui-table-border-radius: 0.25rem !default;


$coreui-table-font-weight: 600 !default;

$coreui-table-font-size: 14px !default;
$coreui-table-font-size-header: $coreui-table-font-size;
$coreui-table-font-size-footer: 12px !default;


$coreui-table-control-padding-x: 5px !default;
$coreui-table-control-padding-y: 2px !default;

$coreui-table-control-padding-header-x: $coreui-table-control-padding-x !default;
$coreui-table-control-padding-header-y: $coreui-table-control-padding-y !default;

$coreui-table-control-padding-footer-x: $coreui-table-control-padding-x !default;
$coreui-table-control-padding-footer-y: $coreui-table-control-padding-y !default;
