
$coreui-table-thead-bg: #FFF;
$coreui-table-tbody-bg: #FFF;
$coreui-table-tfoot-bg: #FFF;

$coreui-table-thead-color: #212529;
$coreui-table-tbody-color: #212529;
$coreui-table-tfoot-color: #212529;

$coreui-table-border-color: #c4c8cb;
$coreui-table-border-radius: 0.25rem;
