<div class="input-group">
    <% if (label) { %>
    <span class="input-group-text"><%= label %></span>
    <% } %>
    <select <%- attr %>>
        <option>--</option>
        <% $.each(options, function(key, option) { %>
            <% if (option.type === 'group') { %>
                <optgroup<%- option.attr %>/>
                    <% $.each(option.options, function(key, groupOption) { %>
                        <option <%- groupOption.attr %>/><%= groupOption.text %></option>
                    <% }); %>
                </optgroup>
            <% } else { %>
                <option <%- option.attr %>/><%= option.text %></option>
            <% } %>
        <% }); %>
    </select>
</div>