<div class="coreui-table__mobile <%= classes %>">
    <% if (sortSelect) { %>
        <div class="coreui-table__mobile-sort m-2">
            <label class="form-label"><%= sortSelect.lang.sortBy %></label>
            <select class="form-select coreui-table__mobile-sort-select">
                <option value=""><%= sortSelect.lang.defaultSort %></option>
                <% sortSelect.fields.map(function(field) { %>
                    <option value="<%= field.field %>"
                        <% $.each(sortSelect.currentSort, function(key, sort) {
                            if (sort.field === field.field && (sort.order === "asc" || sort.order === "desc")) { %> selected<% }
                        }); %>
                        >
                        <% if (field.label) { %><%= field.label %><% } else { %> <%= field.field %> <% } %>
                    </option>
                <% }); %>
            </select>
        </div>
    <% } %>
    <div class="coreui-table__mobile-cards">
        <% if (records.length > 0) { %>
            <% records.map(function(record) { %>
                <div<%- record.attr %> data-record-index="<%= record.index %>">
                    <div class="card-body py-3"></div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="coreui-table__mobile-empty text-center p-4">
                <%= lang.emptyRecords %>
            </div>
        <% } %>
    </div>
</div>