<div class="coreui-table__mobile-sort mb-3">
    <label class="form-label"><%= lang.sortBy %></label>
    <select class="form-select">
        <option value=""><%= lang.defaultSort %></option>
        <% fields.map(function(field) { %>
            <option value="<%= field.field %>"
                <% $.each(currentSort, function(key, sort) { 
                    if (sort.field === field.field && sort.order === "asc") { %> selected<% } 
                    else if (sort.field === field.field && sort.order === "desc") { %> selected<% } 
                }); %>
            >
                <%= field.label %> (<%= field.field %>)
            </option>
        <% }); %>
    </select>
</div>